body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	height: 100%;
}

.content {
	color: #777;
	background-color: white;
	text-align: justify;
	padding: 50px 80px;
}

h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

p {
	margin-botttom: 20px;
}

/* parallax efect */

.box1, .box2, .box3, .box4 {
	position: relative;
	height: 100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.box1 {
	background-image: url(../imagens/fullhd.jpg);
}

.box2 {
	background-image: url(../imagens/house.jpg);	
}

.box3 {
	background-image: url(../imagens/mountains.jpg);	
}

.box4 {
	background-image: url(../imagens/image2.jpg);	
}

.content-title {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}

.content-title span.title {
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}